---
BasedOnStyle: WebKit
Language: Cpp
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignOperands: DontAlign
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  # C headers
  - Regex: '^(<|")c(assert|ctype|errno|float|limits|locale|math|setjmp|signal|stdarg|stddef|stdio|stdlib|string|time|wchar|wctype|iso646|fenv|inttypes|stdint|uchar|complex|stdalign|stdbool|tgmath|stdatomic)(>|")'
    Priority: 5
  - Regex: '^(<|")(assert|ctype|errno|float|limits|locale|math|setjmp|signal|stdarg|stddef|stdio|stdlib|string|time|wchar|wctype|iso646|fenv|inttypes|stdint|uchar|complex|stdalign|stdbool|tgmath|stdatomic).h(>|")'
    Priority: 5
  # C++ headers (without extension).
  - Regex: '^<([A-Za-z0-9\Q/-_\E])+>'
    Priority: 4
  # Headers from almost-standard libraries.
  - Regex: '^(<|")(boost|gtest|gmock).*(>|")'
    Priority: 3
  # Headers in <> with extension.
  - Regex: '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority: 2
  # Headers in "" with extension.
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 1
IndentPPDirectives: AfterHash
InsertBraces: true
KeepEmptyLinesAtTheStartOfBlocks: false
PackConstructorInitializers: NextLine
SeparateDefinitionBlocks: Always
SpaceBeforeCpp11BracedList: false
SpacesInContainerLiterals: false
Standard: c++20
TabWidth: 4
UseTab: ForContinuationAndIndentation
---
